  <footer>
    <div class="footer">
        <div class="link-icons">
            <a class="icon-links" href="https://twitter.com/tim_chiang" title='Twitter' alt="Tim Chiang's Twitter Page">
                <svg class="icon icon-twit">
                    <use xlink:href="#icon-twitter"></use>
                </svg>
            </a>
            <a class="icon-links" href="https://github.com/timolawl" title='GitHub' alt="Tim Chiang's GitHub Page">
                <svg class="icon icon-gh">
                    <use xlink:href="#icon-github"></use>
                </svg>
            </a>
            <a class="icon-links" href="https://codepen.io/timchiang" title='Codepen' alt="Tim Chiang's Codepen Page">
                <svg class="icon icon-cp">
                    <use xlink:href="#icon-codepen"></use>
                </svg>
            </a>
            <a class="icon-links" href="https://freecodecamp.com/timolawl" title='Free Code Camp' alt="Tim Chiang's Free Code Camp Page">
                <svg class="icon icon-fcc">
                    <use xlink:href="#icon-fcc"></use>
                </svg>
            </a>
            <a class="icon-links" href="https://stackoverflow.com/users/5812121/timolawl" title='Stack Overflow' alt="Tim Chiang's Stack Overflow page">
                <svg class="icon icon-so">
                    <use xlink:href="#icon-so"></use>
                </svg>
            </a>
        </div>
        <span class="copyright">&copy; 2016 - {{ site.time | date: '%Y' }} Tim Chiang, unless otherwise noted.</span>
    </div>
  </footer>
  {% include scripts.html %}
</body>

</html>
