<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:description" content="{{ site.description }}" />

    <title>{{ page.title}} - {{ site.name }}</title>

    <!-- dns-prefetch -->
    <link rel="dns-prefetch" href="//fonts.google.apis.com" />
    <link rel="dns-prefetch" href="//fonts.gstatic.com" />
    <!--   <link rel="dns-prefetch" href="//cdnjs.cloudflare.com" /> -->
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//api.github.com" />

    <link rel="dns-prefetch" href="//github.com" />
    <link rel="dns-prefetch" href="//codepen.io" />
    <link rel="dns-prefetch" href="//freecodecamp.com" />


    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat|Istok+Web" />
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<!--
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
-->

    <!-- icons -->

    <link rel="apple-touch-icon" sizes="57x57" href="{{ '/static/images/favicons/apple-touch-icon-57x57.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ '/static/images/favicons/apple-touch-icon-60x60.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/static/images/favicons/apple-touch-icon-72x72.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ '/static/images/favicons/apple-touch-icon-76x76.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ '/static/images/favicons/apple-touch-icon-114x114.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/static/images/favicons/apple-touch-icon-120x120.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/static/images/favicons/apple-touch-icon-144x144.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/static/images/favicons/apple-touch-icon-152x152.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/images/favicons/apple-touch-icon-180x180.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image.png' | prepend: site.baseurl }}" href="{{ '/static/images/favicons/favicon-32x32.png' | prepend: site.baseurl }}" sizes="32x32">
    <link rel="icon" type="image.png' | prepend: site.baseurl }}" href="{{ '/static/images/favicons/favicon-194x194.png' | prepend: site.baseurl }}" sizes="194x194">
    <link rel="icon" type="image.png' | prepend: site.baseurl }}" href="{{ '/static/images/favicons/favicon-96x96.png' | prepend: site.baseurl }}" sizes="96x96">
    <link rel="icon" type="image.png' | prepend: site.baseurl }}" href="{{ '/static/images/favicons/android-chrome-192x192.png' | prepend: site.baseurl }}" sizes="192x192">
    <link rel="icon" type="image.png' | prepend: site.baseurl }}" href="{{ '/static/images/favicons/favicon-16x16.png' | prepend: site.baseurl }}" sizes="16x16">
    <link rel="manifest" href="{{ '/static/images/favicons/manifest.json' | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ '/static/images/favicons/favicon.ico' | prepend: site.baseurl }}">
    <meta name="msapplication-TileColor" content="#a5eeff">
    <meta name="msapplication-TileImage" content="{{ '/static/images/favicons/mstile-144x144.png' | prepend: site.baseurl }}">
    <meta name="msapplication-config" content="{{ '/static/images/favicons/browserconfig.xml' | prepend: site.baseurl }}">
    <meta name="theme-color" content="#ffffff">


    <script src="{{ '/js/pre-script.js' | prepend: site.baseurl }}"></script>

  </head>

  <body>
    <div class="svg-icons">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="display:none">
            <symbol id="icon-github" viewBox="0 0 512 512">
                <title>GitHub</title>
                <path id="XMLID_2_" d="M256,0C114.6,0,0,114.6,0,256c0,113.1,73.4,209.1,175.1,242.9c12.8,2.4,17.5-5.6,17.5-12.3c0-6.1-0.2-26.3-0.3-47.7C121,454.4,106,408.7,106,408.7c-11.6-29.6-28.4-37.5-28.4-37.5c-23.2-15.9,1.8-15.6,1.8-15.6c25.7,1.8,39.2,26.4,39.2,26.4c22.8,39.1,59.9,27.8,74.5,21.3c2.3-16.5,8.9-27.8,16.3-34.2c-56.9-6.5-116.6-28.4-116.6-126.5c0-27.9,10-50.8,26.4-68.7c-2.7-6.4-11.4-32.5,2.5-67.8c0,0,21.5-6.9,70.4,26.2c20.4-5.7,42.3-8.5,64.1-8.6c21.8,0.1,43.7,2.9,64.1,8.6c48.9-33.1,70.3-26.2,70.3-26.2c13.9,35.3,5.2,61.3,2.5,67.8c16.4,17.9,26.3,40.8,26.3,68.7c0,98.3-59.9,120-116.9,126.3c9.2,7.9,17.4,23.5,17.4,47.4c0,34.3-0.3,61.8-0.3,70.3c0,6.8,4.6,14.8,17.6,12.3C438.7,465,512,369.1,512,256C512,114.6,397.4,0,256,0L256,0z"/>
            </symbol>
            <symbol id="icon-codepen" viewBox="0 0 512 512">
                <title>Codepen</title>
                <path d="M488.9,168l-224-149.3c-5.4-3.6-12.4-3.6-17.8,0L23.1,168c-4.5,3-7.1,8-7.1,13.3v149.3c0,5.4,2.7,10.3,7.1,13.3l224,149.3c2.7,1.8,5.8,2.7,8.9,2.7s6.2-0.9,8.9-2.7l224-149.3c4.5-3,7.1-8,7.1-13.3V181.3C496,176,493.3,171,488.9,168L488.9,168z M256,311.4L172.8,256l83.2-55.4l83.2,55.4L256,311.4z M272,172.8V61.9l179.2,119.4L368,236.8L272,172.8z M240,172.8l-96,64l-83.2-55.4L240,61.9V172.8z M115.2,256L48,300.8v-89.5L115.2,256z M144,275.2l96,64v110.9L60.8,330.7C60.8,330.7,144,275.2,144,275.2z M272,339.2l96-64l83.2,55.4L272,450.1V339.2z M396.8,256l67.2-44.8v89.5L396.8,256z"/></path>
            </symbol>

            <symbol id="icon-fcc" viewBox="0 0 1280 1024">
                <title>Free Code Camp</title>
                <path class="path1" d="M832 736l96 96 320-320-320-320-96 96 224 224z"></path>
                <path class="path2" d="M448 288l-96-96-320 320 320 320 96-96-224-224z"></path>
                <path class="path3" d="M701.298 150.519l69.468 18.944-191.987 704.026-69.468-18.944 191.987-704.026z"></path>
            </symbol>

        </svg>
    </div>

    <div class="site__header-wrapper">
        <header class="site__header">

            <a id="site__logo" class="site__logo logo--status" href="/">
                <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="logo--basic" viewBox="0 0 124 84">
                        <style>
                            .bt0{fill:#a5eeff}
                            .bt1{fill:#8d8c8e}
                            .bt2{fill:none;
                                stroke:#000;
                                stroke-width:4;
                                stroke-linecap:round;
                                stroke-linejoin:round;
                                stroke-miterlimit:10}
                        </style>
                        <path id="XMLID_363_" d="M82 2L62 22 42 2z"/>
                        <path id="XMLID_362_" class="bt0" d="M48 2h-6l20 20v-6z"/>
                        <path id="XMLID_361_" d="M76 2L62 16v6L82 2z"/>
                        <path id="XMLID_360_" d="M62 22l14 40-14 20-14-20z"/>
                        <path id="XMLID_359_" d="M74.1 56.7L62 74v8l14-20z"/>
                        <path id="XMLID_358_" class="bt0" d="M49.9 56.7L48 62l14 20v-8z"/>
                        <path id="XMLID_419_" class="bt1" d="M122 2l-20 20H62L82 2h34z"/>
                        <path id="XMLID_418_" class="bt1" d="M62 22H22L2 2h40z"/>
                        <path id="XMLID_416_" class="bt2" d="M82 2H42"/>
                        <path id="XMLID_415_" class="bt2" d="M42 2H2l20 20h40z"/>
                        <path id="XMLID_414_" class="bt2" d="M82 2h40l-20 20H62z"/>
                        <path id="XMLID_413_" class="bt2" d="M48 62l14 20 14-20-14-40z"/>
                    </symbol>

                    <symbol id="logo--highlight" viewBox="0 0 372 252">
                        <style>
                            .ht0{fill:#8d8c8e}
                            .ht1{fill:#86aab3}
                            .ht2{fill:#a5eeff}
                            .ht3{fill:#c9f5ff}
                            .ht4{fill:none;
                            stroke:#000;
                            stroke-width:12;
                            stroke-linecap:round;
                            stroke-linejoin:round;
                            stroke-miterlimit:10}
                        </style>
                        <path id="XMLID_451_" class="ht0" d="M366 6l-60 60H186l60-60h102z"/>
                        <path id="XMLID_450_" class="ht0" d="M186 66H66L6 6h120z"/>
                        <path id="XMLID_449_" class="ht1" d="M246 6l-60 60V42l36-36z"/>
                        <path id="XMLID_448_" class="ht1" d="M222.4 170l5.6 16-42 60v-24z"/>
                        <path id="XMLID_447_" class="ht2" d="M195 91.7l27.4 78.3-36.4 52v-1.7L162 186l5.6-16 18.4-52.6z"/>
                        <path id="XMLID_446_" class="ht2" d="M222 6l-36 36-36-36z"/>
                        <path id="XMLID_445_" class="ht3" d="M186 66l9 25.7-9 25.7z"/>
                        <path id="XMLID_444_" class="ht3" d="M186 222v24l-42-60 5.6-16L186 66v51.4L167.6 170l-5.6 16 24 34.3z"/>
                        <path id="XMLID_443_" class="ht3" d="M186 42v24L126 6h24z"/>
                        <path id="XMLID_441_" class="ht4" d="M246 6H126"/>
                        <path id="XMLID_440_" class="ht4" d="M126 6H6l60 60h120z"/>
                        <path id="XMLID_439_" class="ht4" d="M246 6h120l-60 60H186z"/>
                        <path id="XMLID_438_" class="ht4" d="M186 66l-36.4 104-5.6 16 42 60 42-60-5.6-16L195 91.7z"/>
                    </symbol>

                    <symbol id="logo--at-home" viewBox="0 0 372 252">
                        <style>
                            .st0{fill:#8d8c8e}
                            .st1{fill:#357280}
                            .st2{fill:#69e3ff}
                            .st3{fill:#a5eeff}
                            .st4{fill:none;
                            stroke:#000;
                            stroke-width:12;
                            stroke-linecap:round;
                            stroke-linejoin:round;
                            stroke-miterlimit:10}
                        </style>
                        <path id="XMLID_451_" class="st0" d="M366 6l-60 60H186l60-60h102z"/>
                        <path id="XMLID_450_" class="st0" d="M186 66H66L6 6h120z"/>
                        <path id="XMLID_449_" class="st1" d="M246 6l-60 60V42l36-36z"/>
                        <path id="XMLID_448_" class="st1" d="M222.4 170l5.6 16-42 60v-24z"/>
                        <path id="XMLID_447_" class="st2" d="M195 91.7l27.4 78.3-36.4 52v-1.7L162 186l5.6-16 18.4-52.6z"/>
                        <path id="XMLID_446_" class="st2" d="M222 6l-36 36-36-36z"/>
                        <path id="XMLID_445_" class="st3" d="M186 66l9 25.7-9 25.7z"/>
                        <path id="XMLID_444_" class="st3" d="M186 222v24l-42-60 5.6-16L186 66v51.4L167.6 170l-5.6 16 24 34.3z"/>
                        <path id="XMLID_443_" class="st3" d="M186 42v24L126 6h24z"/>
                        <path id="XMLID_441_" class="st4" d="M246 6H126"/>
                        <path id="XMLID_440_" class="st4" d="M126 6H6l60 60h120z"/>
                        <path id="XMLID_439_" class="st4" d="M246 6h120l-60 60H186z"/>
                        <path id="XMLID_438_" class="st4" d="M186 66l-36.4 104-5.6 16 42 60 42-60-5.6-16L195 91.7z"/>
                    </symbol>
                </svg>
                <!-- use the symbols here -->
                {% if page.title != "Home" %}
                    <svg id="logo--basic" class="logo--basic" viewBox="0 0 124 84">
                        <use xlink:href="#logo--basic"></use>
                    </svg>
                {% else %}
                    <svg class="logo--at-home" viewBox="0 0 372 252">
                        <use xlink:href="#logo--at-home"></use>
                    </svg>
                {% endif %}

                <!-- logo highlight logic in CSS file-->
                <svg id="logo--highlight" class="logo--highlight" viewBox="0 0 372 252">
                    <use xlink:href="#logo--highlight"></use>
                </svg>
            </a>

            <!-- hamburger menu goes here; id for JS getElementById-->
            <div id="hamburger-wrapper" class="hamburger-wrapper">
                <span class="hamburger"></span>
            </div>

            <!-- the nav-wrapper covers the hamburger-wrapper and since it
                appears later in the HTML, stacks over the hamburger menu.
                Thus, the z-index needs to be specified for hamburger-wrapper -->
            <div id="nav-wrapper" class="nav-wrapper">
                {% include nav.html %}
            </div>

         </header>
    </div> <!-- end nav section -->
