
/** * Defaulting margins and padding to 0 **/
* {
    margin: 0;
    padding: 0;
/*    background-color: #bbb; why is universal selector overriding specificity? */
}


html, body {
    height: 100%;
/*    overflow: hidden; */
    background-color: gray;
}

/*
body {
    margin: 0px auto;
    width:80%;
}
*/

.nav {
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/** Nav and footer bar list elements **/
nav ul li, footer ul li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    display: inline;
    margin-right: 20px; /* spacing between list elements */
}

a {
    padding: 15px 0px;
    text-decoration: none;
    display:inline-block;
}

.nav a {
    color: white;
}

.footer a {
    color: gray;
}

#home {
    margin-left: 20px;
}

#home:hover:not(.active) {
    border-top: 5px solid #FFF;
}

#about:hover:not(.active) {
    border-top: 5px solid blue;
}

#cv:hover:not(.active) {
    border-top: 5px solid yellow;
}

#blog:hover:not(.active) {
    border-top: 5px solid green;
}

#home.active {
    border-top: 5px solid #FFF;
}

#about.active {
    border-top: 5px solid blue;
}

#cv.active {
    border-top: 5px solid yellow;
}

#blog.active {
    border-top: 5px solid green;
}

.background-container {
 /*   background-color: gray; */
    height: 100%;
    margin-top: 52px;
}

.width-container {
    margin: 0px auto;
    padding: 40px;
    width: 70%;
    background-color: white;
    height: 100%;
}

.jumbotron {
    background-image: url('http://www.jpl.nasa.gov/images/universe/astronomy/20140108/machine20150108-16.jpg');
    background-size: cover;
  /*  background-color: rgb(238, 238, 238); */;
    width: 100%;
    padding: 48px 0px;
  /*  margin-bottom: 30px; */
    position: relative;
    display: block;
}

.container {
    padding: 0px 15px;
    margin: 0px auto;
    width: 70%;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #000;
}

.jumbotext {
    color: #FFF;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    background-color: #000;
    width: 70%;
    padding: 0px 40px 60px;
    margin: 0px auto;
    height: 100%;
}

footer a:hover {
    text-decoration: underline;
}
