//
// Base page
//

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}


//sets the content initial position below the nav bar (can still scroll through).
main {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

footer {
    width: 100%;
    margin: 150px auto 50px;
}

p { // this is for spacing paragraphs in the about section.
    margin-bottom: 1rem;
}
