//
// base links
//

a {
    &:link {
     //   color: #000;
        color: $secondary-light;
    }

    &:visited {
        color: $secondary-light;
    }
    
    &:hover {
        color: $primary-color;
    }

    &:active {
        color: $primary-color;
    }

}
