//
// post classes specific to individual posts
//

.post {
// this section is for actual post customization
    width: 80%;
    max-width: 720px;
    margin: 0 auto;

    &__header {
        text-align: center;
        margin-bottom: 10px;
    }

    &__content {
        text-indent: 1em;
        text-align: justify;
    }
}
