//
// page body classes
//


// customization of layout: page
.page {

    margin: 0 auto;

    @media (max-width: 720px) {
        width: 90%;
    }

    @media (min-width: 721px) {
        width: 80%;
        max-width: 720px;
    }

    &__header {
        text-align: center;
        margin-bottom: 10px;
    }

    &__content {
        text-align: center;
    }
}

// styling specific to the home page
.home {
    &__title {
    }

    &__content {
    }
}
/*
.WIP {
    font-family: 'Italianno', cursive;
    font-size: 2em;
}
*/
// the cog svg in the home page
.cog {
    position: absolute;
    width: 120px;
    height: 120px;
    top: -48px;
    z-index: -1;

    animation-name: rotation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;

// returns a white background between text and cog for text clarity.
    &__clear {
        background: #fff;
        //might as well use it to add some spacing between the other lines.
    }
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(45deg); }
}

// styling specific to the about page
.about {
    &__title {
    }

    &__content {
        text-indent: 1em;
        text-align: justify;
    }
}

//styling specific to the portfolio page
.portfolio {

}

//styling specific to the blog page
.blog {
    &__list-of-posts {
        list-style: none;
    }

    &__post {
        // set the list element styling here
        // width specifies the width of the content area
        // (content area being inside padding/border/margin).
        // fit-content fits the content and makes the rest margin.
        // lastly, un-vendor-prefixed property:value pair at end
        // (if supported, use the regular version, basically)
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto;

        &-link {
            &:link {
                color: #000;
            }

            &:visited {
                color: #000;
            }
// I understand the need to specify the above 2, because I'm overriding via specificity the base links, but why do I need to also specify the following two? -- OH; because it HAS to follow the LVHA order.
            &:hover {
                color: #69e3ff;
            }

            &:active {
                color: #69e3ff;
            }
        }

        &-title {
            display: block;
        }

        &-date {
            display: block;
            color: #8d8c8e;
            margin-bottom: 10px;
        }
    }
}
