//
// page body classes
//


// customization of layout: page
.page {
   // background: rgba(120, 120, 120, 0.2);
    margin: 0 auto;

    @media (max-width: 720px) {
        width: 100%; //readability
    }

    @media (min-width: 721px) {
        width: 100%;
        max-width: 960px;
    }

    &__header {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__content {
        text-align: center;
    }
}

// styling specific to the home page
.home {
    &__title {
    }

    &__content {
        @media (min-width: 1281px) {
      //      font-size: 2vmin;
        }
    }
}

.WIP {
    background-color: #fff;
}

// the cog svg in the home page
.cog {
    position: absolute;
    width: 120px;
    height: 120px;
    top: -48px;
    z-index: -1;

    animation-name: rotation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
/*
// returns a white background between text and cog for text clarity.
    &__clear {
        background: #fff;
        //might as well use it to add some spacing between the other lines.
    }
    */
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(45deg); }
}

.discord-message {
    font-size: 0.8rem;
    color: $secondary-light;
}



// styling specific to the about page
.about {
    &__title {
    }

    &__content {
     //   text-indent: 1rem;
        width: 90%;
        max-width: 760px;
        margin: 0 auto;
        text-align: justify;
    }
}


.contact {
    &__content {
    //    @media (max-width: 760px) {
    //        width: 90%;
   //     }
    //    @media (min-width: 761px) {
            width: 90%;
    //    }

        max-width: 760px;
        margin: 0 auto;
    }

    &-email {
        margin-top: 2rem;
    }
}




//styling specific to the portfolio page
.portfolio {
    &__content {
        margin: 0 auto;
        @media (min-width: 821px) and (max-width: 980px) {
            width: 800px;
        }
    }

   &__project-image {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        height: auto;

       // -webkit-filter: grayscale(100%) url(#filter--monochrome);
       // filter: grayscale(100%); // url(#filter--monochrome);
    //    transition: all 0.5s;
        &:hover {
            -webkit-filter: grayscale(100%) url(#filter--monochrome);
            filter: grayscale(100%); // url(#filter--monochrome);


           // -webkit-filter: grayscale(0);
          //  filter: grayscale(0);
        }
   }
}

@media (max-width: 400px) {
    [class^='grid-'] {
        width: 90% !important;
        margin-left: 5%;
    }
}


@media (min-width: 401px) and (max-width: 820px) {
    [class^='grid-'] {
        width: 100% !important;
    }
}

@media (min-width: 821px) and (max-width: 980px) {
    [class^='grid-'] {
        width: 50% !important;
    }
}



[class*='portfolio-'] {
 //   overflow: hidden;
//    border: 1px solid black;
}

//styling specific to the blog page
.blog {
    &__list-of-posts {
        list-style: none;
    }

    &__post {
        // set the list element styling here
        // width specifies the width of the content area
        // (content area being inside padding/border/margin).
        // fit-content fits the content and makes the rest margin.
        // lastly, un-vendor-prefixed property:value pair at end
        // (if supported, use the regular version, basically)
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto;

        &-link {
            &:link {
                color: #000;
            }

            &:visited {
                color: #000;
            }
// I understand the need to specify the above 2, because I'm overriding via specificity the base links, but why do I need to also specify the following two? -- OH; because it HAS to follow the LVHA order.
            &:hover {
                color: $primary-color;
            }

            &:active {
                color: $primary-color;
            }
        }

        &-title {
            display: block;
        }

        &-date {
            display: block;
            color: $secondary-light;
            margin-bottom: 1rem;
        }
    }
}

.note {
    
    &__title {

    }

    &__content {
        width: 90%;
        margin: 0 auto;

    }

}

// specific styling to the notes page
.notepad {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #a5eeff 0%, #fff 100%);
    padding: 1rem;

    &__content {
        width: 100%;
        height: 100%;
        text-align: left;
        font-size: 1.2rem;
        font-family: monospace;
        background-position: center;
        background-size: 50%;
        background-image: url('/static/images/TieBackgroundOpacity.svg');
        background-repeat: no-repeat;
    }

    &__content:focus {
        outline: none;
    }
}


