//
// post classes specific to individual posts
//

.post {
// this section is for actual post customization
    margin: 0 auto;

    @media (max-width: 720px) {
        width: 90%;
    }

    @media (min-width: 721px) {
        width: 80%;
        max-width: 720px;
    }

    &__header {
        text-align: center;
        margin-bottom: 10px;
    }

    &__content {
        text-indent: 1em;
        text-align: justify;
    }
}
