*, :before, :after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    position: relative;
    text-decoration: none;
}

// Forms
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}


