//
// trumps - show/hide
//

.preload {
    transition: none !important;
}

.is-invisible {
    visibility: hidden;
}

.is-hidden {
    display: none;
}

.is-opacity-invisible {  // for portfolio image loading
    opacity: 0 !important;
}

.is-offscreen {
    position: fixed;
    left: -1000px;
}

.is-fadedout {
    animation: fadeout 2s ease-in-out;
    animation-fill-mode: forwards;
}

// Need both height and display property to make them disappear completely
@keyframes fadeout {
    0% {
        height: 100%;
        opacity: 1;
    }

    99% {
        height: 1%;
        opacity: 0;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}

.is-fadedin {
    animation: fadein 3s ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.is-alwaysdisplayed {
    display: block !important;
    opacity: 1 !important;
}
