//
// trumps - show/hide
//

.is-invisible { // 1. This is included on the page initially and toggled off after the page loads to prevent flash of content in the beginning.
    visibility: hidden;
}


.preload { // 2. Logo animation: Added to logo to prevent animation from occuring on landing page. Removed after page finishes loading.
    transition: none !important;
}


.is-hidden { // 3. Logo animation: This is added to other parent elements to hide everything else.
    display: none;
}

.is-opacity-invisible {  // for portfolio image loading
    opacity: 0 !important;
}

.is-offscreen {
    position: fixed;
    left: -1000px;
}

.is-fadedin { // 4. Logo animation: This is to fade in everything. .is-hidden needs to be removed for this to work.
    animation: fadein 3s ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.is-fadedout { // 5. Logo animation: This is to fade out everything.
    animation: fadeout 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% {
        height: 100%;
        opacity: 1;
    }

    99% {
        height: 1%;
        opacity: 0;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}



.is-alwaysdisplayed {
    display: block !important;
    opacity: 1 !important;
}
